## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

## 1.Business Understanding

### Business Problem:

#### The company is looking to diversify by entering the commercial and private aviation industry. However, we lack knowledge about the risks associated with different aircraft

### Goal:

#### Our goal is to analyze historical aviation accident data to identify which aircraft are the lowest risk.And also give recommendations or guidance to their initial aircraft purchasing decisions.

In [1]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 2. Data Understanding

In [2]:
print("Loading the dataset to begin our analysis.....")

df = pd.read_csv('AviationData.csv',encoding='latin-1', low_memory=False)
print()
print("....Dataset loaded successfully......")

Loading the dataset to begin our analysis.....

....Dataset loaded successfully......

In [3]:
print("First 5 Rows of the dataset:")
df.head()

First 5 Rows of the dataset:

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [4]:
print("Dataset Information: (Columns, Data Types, Non-Null Counts)")
print()
df.info()

Dataset Information: (Columns, Data Types, Non-Null Counts)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [5]:
print(f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns as clearly seen above")

The dataset has 88889 rows and 31 columns as clearly seen above

In [6]:
print(f"The columns names associated with the aviation dataset are: \n{df.columns}")

The columns names associated with the aviation dataset are:
Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [7]:
#Now let's see how much data is missing
missing_values = df.isnull().sum()
missing_percentage = (df.isnull().sum() / len(df)) * 100
#Decided to create a dataframe that sorts the columns according to the number of values missing
#and their percentage
missing_df = pd.DataFrame({'Missing Values': missing_values, 'Percentage': missing_percentage})
# Print columns with missing values, sorted
print(f"Below we are be able to see what each column misses in terms of values and percentage: \n{missing_df[missing_df['Missing Values'] > 0].sort_values(by='Percentage', ascending=False)}")

Below we are be able to see what each column misses in terms of values and percentage:
                        Missing Values  Percentage
Schedule                         76307   85.845268
Air.carrier                      72241   81.271023
FAR.Description                  56866   63.974170
Aircraft.Category                56602   63.677170
Longitude                        54516   61.330423
Latitude                         54507   61.320298
Airport.Code                     38640   43.469946
Airport.Name                     36099   40.611324
Broad.phase.of.flight            27165   30.560587
Publication.Date                 13771   15.492356
Total.Serious.Injuries           12510   14.073732
Total.Minor.Injuries             11933   13.424608
Total.Fatal.Injuries             11401   12.826109
Engine.Type                       7077    7.961615
Report.Status                     6381    7.178616
Purpose.of.flight                 6192    6.965991
Number.of.Engines                 6084    6.844491
Total.Uninjured                   5912    6.650992
Weather.Condition                 4492    5.053494
Aircraft.damage                   3194    3.593246
Registration.Number               1317    1.481623
Injury.Severity                   1000    1.124999
Country                            226    0.254250
Amateur.Built                      102    0.114750
Model                               92    0.103500
Make                                63    0.070875
Location                            52    0.058500

In [8]:
#Let's look at the statistics of the numerical columns

print("Summary Statistics for Numerical Columns:")
df.describe()

Summary Statistics for Numerical Columns:

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [9]:
#Statistics for the categorical columns
print("Summary statistics of the categorical columns:")
df.describe(include = "O")

Summary statistics of the categorical columns:

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Amateur.Built,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
count,88889,88889,88889,88889,88837,88663,34382,34373,50249,52790,...,88787,81812,32023,12582,82697,16648,84397,61724,82508,75118
unique,87951,2,88863,14782,27758,219,25589,27154,10375,24871,...,2,13,31,3,26,13590,4,12,17075,2924
top,20001212X19172,Accident,ERA22FA318,2000-07-08,"ANCHORAGE, AK",United States,332739N,0112457W,NONE,Private,...,No,Reciprocating,091,NSCH,Personal,Pilot,VMC,Landing,Probable Cause,25-09-2020
freq,3,85015,2,25,434,82248,19,24,1488,240,...,80312,69530,18221,4474,49448,258,77303,15428,61754,17019

In [10]:
#Checking for duplicates in the dataset
print(f"There are {df.duplicated().sum()} duplicated values in this dataset")

There are 0 duplicated values in this dataset

## 3. Data Preparation

### 1. Data Cleaning

In [11]:
#Made a copy of the original data to clean
df1 = df.copy()

In [12]:
#Current column name formart
df1.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [13]:
#The column names seem to be in different formats...we need to change that
#the names need to have the same format for easy analysis
df1.columns = [name.strip().replace(".", "_").lower() for name in df1.columns]

print(f"The formated column names are: \n{df1.columns}")

The formated column names are:
Index(['event_id', 'investigation_type', 'accident_number', 'event_date',
       'location', 'country', 'latitude', 'longitude', 'airport_code',
       'airport_name', 'injury_severity', 'aircraft_damage',
       'aircraft_category', 'registration_number', 'make', 'model',
       'amateur_built', 'number_of_engines', 'engine_type', 'far_description',
       'schedule', 'purpose_of_flight', 'air_carrier', 'total_fatal_injuries',
       'total_serious_injuries', 'total_minor_injuries', 'total_uninjured',
       'weather_condition', 'broad_phase_of_flight', 'report_status',
       'publication_date'],
      dtype='object')

In [14]:
#Get rid of the columns that hold no importance in the analysis

columns_to_drop = ['event_id','accident_number','latitude','longitude','airport_code','airport_name','registration_number','model','aircraft_category'
                   ,'far_description','schedule','air_carrier','report_status','publication_date','broad_phase_of_flight']

df1.drop(columns=columns_to_drop,axis=1,inplace=True)

print(f"There are {len(df1.columns)} remaining columns and they are: \n{df1.columns}")

There are 16 remaining columns and they are:
Index(['investigation_type', 'event_date', 'location', 'country',
       'injury_severity', 'aircraft_damage', 'make', 'amateur_built',
       'number_of_engines', 'engine_type', 'purpose_of_flight',
       'total_fatal_injuries', 'total_serious_injuries',
       'total_minor_injuries', 'total_uninjured', 'weather_condition'],
      dtype='object')

In [15]:
#Get a clear picture of the remaining columns' missing values

print(f"The number of null values in each column and their corresponding datatypes:")

pd.DataFrame({'Null Count':df1.isnull().sum(),'Data Type':df1.dtypes})

The number of null values in each column and their corresponding datatypes:

                        Null Count Data Type
investigation_type               0    object
event_date                       0    object
location                        52    object
country                        226    object
injury_severity               1000    object
aircraft_damage               3194    object
make                            63    object
amateur_built                  102    object
number_of_engines             6084   float64
engine_type                   7077    object
purpose_of_flight             6192    object
total_fatal_injuries         11401   float64
total_serious_injuries       12510   float64
total_minor_injuries         11933   float64
total_uninjured               5912   float64
weather_condition             4492    object

In [16]:
#Change the format of dates under 'event_date' to be in right format
#And also extract the month and year
df1['event_date'] = pd.to_datetime(df1['event_date'])
df1['month'] = df1['event_date'].dt.month
df1['year'] = df1['event_date'].dt.year

In [17]:
#Check the Value counts for each column to know what action to take for the missing values
#Create a function that returns unique values and counts them
def column_value_counts(df,col):
    for i in col:
        print(f"\nColumn Name: {i}")
        print(df[i].value_counts())
        print("------------")
        print()

In [18]:
#Calling the fucntion
column_value_counts(df1,list(df1.columns))

Column Name: investigation_type
Accident    85015
Incident     3874
Name: investigation_type, dtype: int64
------------


Column Name: event_date
1982-05-16    25
1984-06-30    25
2000-07-08    25
1983-06-05    24
1983-08-05    24
              ..
2020-03-23     1
2013-12-10     1
2014-11-06     1
2013-08-19     1
2016-12-22     1
Name: event_date, Length: 14782, dtype: int64
------------


Column Name: location
ANCHORAGE, AK                434
MIAMI, FL                    200
ALBUQUERQUE, NM              196
HOUSTON, TX                  193
CHICAGO, IL                  184
                            ...
WINDSOR, CO                    1
Golden, NM                     1
DEVILS TOWER, WY               1
Chitose, Japan                 1
Madeira Islands, Portugal      1
Name: location, Length: 27758, dtype: int64
------------


Column Name: country
United States        82248
Brazil                 374
Canada                 359
Mexico                 358
United Kingdom         344
                     ...
AY                       1
Wallis and Futuna        1
Guernsey                 1
Niger                    1
Montserrat               1
Name: country, Length: 219, dtype: int64
------------


Column Name: injury_severity
Non-Fatal     67357
Fatal(1)       6167
Fatal          5262
Fatal(2)       3711
Incident       2219
              ...
Fatal(125)        1
Fatal(206)        1
Fatal(114)        1
Fatal(88)         1
Fatal(228)        1
Name: injury_severity, Length: 109, dtype: int64
------------


Column Name: aircraft_damage
Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: aircraft_damage, dtype: int64
------------


Column Name: make
Cessna               22227
Piper                12029
CESSNA                4922
Beech                 4330
PIPER                 2841
                     ...
OFFCHISS EDWARD R        1
CORBEN BABY ACE          1
Aero Designs             1
EVANS ROBERT W SR        1
Tetrault Ronad           1
Name: make, Length: 8237, dtype: int64
------------


Column Name: amateur_built
No     80312
Yes     8475
Name: amateur_built, dtype: int64
------------


Column Name: number_of_engines
1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: number_of_engines, dtype: int64
------------


Column Name: engine_type
Reciprocating      69530
Turbo Shaft         3609
Turbo Prop          3391
Turbo Fan           2481
Unknown             2051
Turbo Jet            703
None                  19
Geared Turbofan       12
Electric              10
NONE                   2
LR                     2
UNK                    1
Hybrid Rocket          1
Name: engine_type, dtype: int64
------------


Column Name: purpose_of_flight
Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: purpose_of_flight, dtype: int64
------------


Column Name: total_fatal_injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
31.0         1
169.0        1
150.0        1
117.0        1
156.0        1
Name: total_fatal_injuries, Length: 125, dtype: int64
------------


Column Name: total_serious_injuries
0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
8.0         13
10.0        13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
25.0         3
20.0         3
28.0         3
17.0         2
50.0         2
59.0         2
21.0         2
47.0         2
55.0         1
88.0         1
41.0         1
67.0         1
33.0         1
18.0         1
161.0        1
81.0         1
39.0         1
137.0        1
27.0         1
15.0         1
45.0         1
125.0        1
23.0         1
44.0         1
106.0        1
22.0         1
34.0         1
16.0         1
35.0         1
53.0         1
43.0         1
63.0         1
19.0         1
60.0         1
Name: total_serious_injuries, dtype: int64
------------


Column Name: total_minor_injuries
0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
12.0        11
10.0        11
14.0        10
11.0         9
17.0         8
18.0         6
19.0         6
22.0         5
24.0         5
15.0         4
33.0         4
16.0         4
25.0         4
23.0         3
21.0         3
32.0         3
20.0         3
27.0         3
26.0         3
30.0         2
36.0         2
42.0         2
28.0         2
38.0         2
50.0         2
31.0         2
43.0         1
39.0         1
65.0         1
47.0         1
57.0         1
58.0         1
29.0         1
45.0         1
62.0         1
71.0         1
200.0        1
125.0        1
96.0         1
69.0         1
380.0        1
68.0         1
171.0        1
35.0         1
40.0         1
84.0         1
Name: total_minor_injuries, dtype: int64
------------


Column Name: total_uninjured
0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
325.0        1
230.0        1
260.0        1
251.0        1
414.0        1
Name: total_uninjured, Length: 379, dtype: int64
------------


Column Name: weather_condition
VMC    77303
IMC     5976
UNK      856
Unk      262
Name: weather_condition, dtype: int64
------------


Column Name: month
7     10698
8      9986
6      9561
5      8514
9      8346
4      7248
10     6982
3      6686
11     5538
2      5285
12     5060
1      4985
Name: month, dtype: int64
------------


Column Name: year
1982    3593
1983    3556
1984    3457
1985    3096
1986    2880
1987    2828
1988    2730
1989    2544
1990    2518
1991    2462
1992    2355
1993    2313
1995    2309
1994    2257
1998    2226
2000    2220
1999    2209
1996    2187
1997    2148
2003    2085
2001    2063
2005    2031
2002    2020
2007    2016
2004    1952
2008    1893
2006    1851
2011    1850
2012    1835
2010    1786
2009    1783
2018    1681
2016    1664
2017    1638
2019    1624
2022    1607
2015    1582
2013    1561
2021    1545
2014    1535
2020    1392
1979       2
1977       1
1948       1
1981       1
1962       1
1974       1
Name: year, dtype: int64
------------

In [19]:
#The location columns seems to have different format for every value in each row
#we need to have similar format
#change everything under location to upper
df1['location'] =df1['location'].str.upper()

In [20]:
#The 'injury_severity' column seems to have different format too
#remove the brackets and get the name 'fatal' alone
df1['injury_severity'] = df1['injury_severity'].str.split('(').str[0]

In [21]:
#Reduce the other unique values other than 'fatal' and 'non-fatal' to non-fatal
df1.loc[(df1['injury_severity'] != 'Non-Fatal') & (df1['injury_severity'] != 'Incident'),'injury_severity'] = 'Fatal'
df1.loc[(df1['injury_severity'] == "Incident"), 'injury_severity'] = 'Fatal'
df1['injury_severity'].value_counts()

Non-Fatal    67357
Fatal        21532
Name: injury_severity, dtype: int64

In [22]:
#The column 'make' also has different formatted values...standardize the column
df1['make'] = df1['make'].str.upper()

In [23]:
#The column 'engine_type' also need to be standardized and replace the none,unk to unknown
df1['engine_type'] = df1['engine_type'].str.lower().replace(['unk','none'],'unknown')

In [24]:
#The column 'weather_condition' also need starndadisation
df1['weather_condition'] = df1['weather_condition'].str.upper()

In [25]:
#Now let's look if all the values in each column have been standardized
column_value_counts(df1,list(df1.columns))

Column Name: investigation_type
Accident    85015
Incident     3874
Name: investigation_type, dtype: int64
------------


Column Name: event_date
1982-05-16    25
1984-06-30    25
2000-07-08    25
1983-06-05    24
1983-08-05    24
              ..
2020-03-23     1
2013-12-10     1
2014-11-06     1
2013-08-19     1
2016-12-22     1
Name: event_date, Length: 14782, dtype: int64
------------


Column Name: location
ANCHORAGE, AK          548
MIAMI, FL              275
HOUSTON, TX            271
ALBUQUERQUE, NM        265
CHICAGO, IL            256
                      ...
OVERISEL, MI             1
PORT BAINBRIDGE, AK      1
MIDLAND, LA              1
TRENTON, NC              1
GOTEBERG, SWEDEN         1
Name: location, Length: 21978, dtype: int64
------------


Column Name: country
United States        82248
Brazil                 374
Canada                 359
Mexico                 358
United Kingdom         344
                     ...
AY                       1
Wallis and Futuna        1
Guernsey                 1
Niger                    1
Montserrat               1
Name: country, Length: 219, dtype: int64
------------


Column Name: injury_severity
Non-Fatal    67357
Fatal        21532
Name: injury_severity, dtype: int64
------------


Column Name: aircraft_damage
Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: aircraft_damage, dtype: int64
------------


Column Name: make
CESSNA                  27149
PIPER                   14870
BEECH                    5372
BOEING                   2745
BELL                     2722
                        ...
SCHRODER DAVID              1
SCHEINEMAN-VAN BUREN        1
RYAN JOHN STEFFEY           1
GEORGE                      1
PARLETTE ROBERT L           1
Name: make, Length: 7587, dtype: int64
------------


Column Name: amateur_built
No     80312
Yes     8475
Name: amateur_built, dtype: int64
------------


Column Name: number_of_engines
1.0    69582
2.0    11079
0.0     1226
3.0      483
4.0      431
8.0        3
6.0        1
Name: number_of_engines, dtype: int64
------------


Column Name: engine_type
reciprocating      69530
turbo shaft         3609
turbo prop          3391
turbo fan           2481
unknown             2073
turbo jet            703
geared turbofan       12
electric              10
lr                     2
hybrid rocket          1
Name: engine_type, dtype: int64
------------


Column Name: purpose_of_flight
Personal                     49448
Instructional                10601
Unknown                       6802
Aerial Application            4712
Business                      4018
Positioning                   1646
Other Work Use                1264
Ferry                          812
Aerial Observation             794
Public Aircraft                720
Executive/corporate            553
Flight Test                    405
Skydiving                      182
External Load                  123
Public Aircraft - Federal      105
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: purpose_of_flight, dtype: int64
------------


Column Name: total_fatal_injuries
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
31.0         1
169.0        1
150.0        1
117.0        1
156.0        1
Name: total_fatal_injuries, Length: 125, dtype: int64
------------


Column Name: total_serious_injuries
0.0      63289
1.0       9125
2.0       2815
3.0        629
4.0        258
5.0         78
6.0         41
7.0         27
9.0         16
8.0         13
10.0        13
13.0         9
11.0         6
26.0         5
14.0         5
12.0         5
25.0         3
20.0         3
28.0         3
17.0         2
50.0         2
59.0         2
21.0         2
47.0         2
55.0         1
88.0         1
41.0         1
67.0         1
33.0         1
18.0         1
161.0        1
81.0         1
39.0         1
137.0        1
27.0         1
15.0         1
45.0         1
125.0        1
23.0         1
44.0         1
106.0        1
22.0         1
34.0         1
16.0         1
35.0         1
53.0         1
43.0         1
63.0         1
19.0         1
60.0         1
Name: total_serious_injuries, dtype: int64
------------


Column Name: total_minor_injuries
0.0      61454
1.0      10320
2.0       3576
3.0        784
4.0        372
5.0        129
6.0         67
7.0         59
9.0         22
8.0         20
13.0        14
12.0        11
10.0        11
14.0        10
11.0         9
17.0         8
18.0         6
19.0         6
22.0         5
24.0         5
15.0         4
33.0         4
16.0         4
25.0         4
23.0         3
21.0         3
32.0         3
20.0         3
27.0         3
26.0         3
30.0         2
36.0         2
42.0         2
28.0         2
38.0         2
50.0         2
31.0         2
43.0         1
39.0         1
65.0         1
47.0         1
57.0         1
58.0         1
29.0         1
45.0         1
62.0         1
71.0         1
200.0        1
125.0        1
96.0         1
69.0         1
380.0        1
68.0         1
171.0        1
35.0         1
40.0         1
84.0         1
Name: total_minor_injuries, dtype: int64
------------


Column Name: total_uninjured
0.0      29879
1.0      25101
2.0      15988
3.0       4313
4.0       2662
         ...
325.0        1
230.0        1
260.0        1
251.0        1
414.0        1
Name: total_uninjured, Length: 379, dtype: int64
------------


Column Name: weather_condition
VMC    77303
IMC     5976
UNK     1118
Name: weather_condition, dtype: int64
------------


Column Name: month
7     10698
8      9986
6      9561
5      8514
9      8346
4      7248
10     6982
3      6686
11     5538
2      5285
12     5060
1      4985
Name: month, dtype: int64
------------


Column Name: year
1982    3593
1983    3556
1984    3457
1985    3096
1986    2880
1987    2828
1988    2730
1989    2544
1990    2518
1991    2462
1992    2355
1993    2313
1995    2309
1994    2257
1998    2226
2000    2220
1999    2209
1996    2187
1997    2148
2003    2085
2001    2063
2005    2031
2002    2020
2007    2016
2004    1952
2008    1893
2006    1851
2011    1850
2012    1835
2010    1786
2009    1783
2018    1681
2016    1664
2017    1638
2019    1624
2022    1607
2015    1582
2013    1561
2021    1545
2014    1535
2020    1392
1979       2
1977       1
1948       1
1981       1
1962       1
1974       1
Name: year, dtype: int64
------------

In [26]:
#Filling in the values for the categorical data with 'Unknown'
#While keeping in mind the data already filled as unknown or unk in weather and engine type column
df1['make'].fillna('Unknown',inplace=True)
df1['aircraft_damage'].fillna('Unknown',inplace=True)
df1['purpose_of_flight'].fillna('Unknown',inplace=True)
df1['weather_condition'].fillna('UNK',inplace=True)
df1['engine_type'].fillna('unknown',inplace=True)
df1['injury_severity'].fillna('Unavailable',inplace=True)

In [27]:
#For the numerical the best value to fill the null places is the mode
df1['number_of_engines'].fillna(value=(df1['number_of_engines'].mode()[0]), inplace=True)
df1['total_fatal_injuries'].fillna(value=(df1['total_fatal_injuries'].mode()[0]), inplace=True)
df1['total_serious_injuries'].fillna(value=(df1['total_serious_injuries'].mode()[0]), inplace=True)
df1['total_minor_injuries'].fillna(value=(df1['total_minor_injuries'].mode()[0]), inplace=True)
df1['total_uninjured'].fillna(value=(df1['total_uninjured'].mode()[0]), inplace=True)

In [28]:
#Main focus is on injury severity
#Remove rows which do not have information about injury
df1 = df1[df1['injury_severity'] != 'Unavailable']

In [29]:
#USA contains 93% of this dataset therefore let's focus on it
df1 = df1[df1['country']=='United States']

In [30]:
#Let's see if there are still null values in country
df1.isnull().sum()

investigation_type         0
event_date                 0
location                  11
country                    0
injury_severity            0
aircraft_damage            0
make                       0
amateur_built             21
number_of_engines          0
engine_type                0
purpose_of_flight          0
total_fatal_injuries       0
total_serious_injuries     0
total_minor_injuries       0
total_uninjured            0
weather_condition          0
month                      0
year                       0
dtype: int64

In [31]:
#Amazing....for the location and amateur built let's drop the empty rows
df1.dropna(subset=['location','amateur_built'],inplace=True)

In [32]:
#Clarification of what has been done above
df1.isnull().sum()

investigation_type        0
event_date                0
location                  0
country                   0
injury_severity           0
aircraft_damage           0
make                      0
amateur_built             0
number_of_engines         0
engine_type               0
purpose_of_flight         0
total_fatal_injuries      0
total_serious_injuries    0
total_minor_injuries      0
total_uninjured           0
weather_condition         0
month                     0
year                      0
dtype: int64